<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
    <a mat-flat-button color="primary" [routerLink]="['/suppliers']"><mat-icon>list</mat-icon></a>
  </div>
  <mat-card class="example-card">
    <form [formGroup]="supplierForm" (ngSubmit)="onFormSubmit(supplierForm.value)">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Company Name" formControlName="companyName"
               [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="supplierForm.get('companyName').touched">Please enter Company Name</span>
        </mat-error>
      </mat-form-field>
      <div class="button-row">
        <button type="submit" [disabled]="!supplierForm.valid" mat-flat-button color="primary"><mat-icon>save</mat-icon></button>
      </div>
    </form>
  </mat-card>
</div>