<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
    <a mat-flat-button color="primary" [routerLink]="['/suppliers']"><mat-icon>list</mat-icon></a>
  </div>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title><h2>{{supplier.id}}</h2></mat-card-title>
      <mat-card-subtitle>{{supplier.company}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <dl>
        <dt>Id:</dt>
        <dd>{{supplier.id}}</dd>
        <dt>Company:</dt>
        <dd>{{supplier.company}}</dd>
        <dt>Last Name:</dt>
        <dd>{{supplier.lastName}}</dd>
        <dt>First Name:</dt>
        <dd>{{supplier.firstName}}</dd>
        <dt>Email Address:</dt>
        <dd>{{supplier.emailAddress}}</dd>
        <dt>Job Title:</dt>
        <dd>{{supplier.jobTitle}}</dd>
        <dt>Business Phone:</dt>
        <dd>{{supplier.businessPhone}}</dd>
        <dt>Home Phone:</dt>
        <dd>{{supplier.homePhone}}</dd>
        <dt>Mobile Phone:</dt>
        <dd>{{supplier.mobilePhone}}</dd>
        <dt>Fax Number:</dt>
        <dd>{{supplier.faxNumber}}</dd>
        <dt>Address:</dt>
        <dd>{{supplier.address}}</dd>
        <dt>City:</dt>
        <dd>{{supplier.city}}</dd>
        <dt>State Province:</dt>
        <dd>{{supplier.stateProvince}}</dd>
        <dt>ZIP Postal Code:</dt>
        <dd>{{supplier.zipPostalCode}}</dd>
        <dt>Country Region:</dt>
        <dd>{{supplier.countryRegion}}</dd>
        <dt>Web Page:</dt>
        <dd>{{supplier.webPage}}</dd>
        <dt>Notes:</dt>
        <dd>{{supplier.notes}}</dd>
      </dl>
    </mat-card-content>
    <mat-card-actions>
      <a mat-flat-button color="primary" [routerLink]="['/supplier-edit', supplier.id]"><mat-icon>edit</mat-icon></a>
      <a mat-flat-button color="warn" (click)="deleteSupplier(supplier.id)"><mat-icon>delete</mat-icon></a>
    </mat-card-actions>
  </mat-card>
</div>
