<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
    <a mat-flat-button color="primary" [routerLink]="['/suppliers']"><mat-icon>list</mat-icon></a>
  </div>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title><h2>{{supplier.id}}</h2></mat-card-title>
      <mat-card-subtitle>{{supplier.company}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <dl>
        <dt>Supplier Id:</dt>
        <dd>{{supplier.id}}</dd>
        <dt>Company Name:</dt>
        <dd>{{supplier.company}}</dd>
      </dl>
    </mat-card-content>
    <mat-card-actions>
      <a mat-flat-button color="primary" [routerLink]="['/supplier-edit', supplier.id]"><mat-icon>edit</mat-icon></a>
      <a mat-flat-button color="warn" (click)="deleteSupplier(supplier.id)"><mat-icon>delete</mat-icon></a>
    </mat-card-actions>
  </mat-card>
</div>